*
!.docker/php/
!.docker/php/**/*
!app/
!app/**/*
!bootstrap/app.php
!bootstrap/providers.php
!bootstrap/cache/.gitignore
!config/*
!database/**/*
database/*.sqlite
database/*.sqlite*
!lang/**/*
!public/**/*
!public/vendor/
!resources/**/*
!routes/**/*
!storage/app/.gitignore
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/logs/*
!artisan
!composer.json
!composer.lock
